 
.page { 
    background-size: cover;
    /* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
	-ms-behavior: url(style/bgsize-polyfill.htc);
}