@import "normalize.css";
@import "fonts.css";

@mixin transitions{    
    -webkit-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    -moz-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    -ms-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    -o-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}
@mixin box-sizing($sizing: border-box){
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
	-o-box-sizing: $sizing;
	box-sizing: $sizing;
}
@mixin box-shadow ($x: 0, $y: 0, $blur: 10px, $color: #000) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -ms-box-shadow: $x $y $blur $color; 
  -o-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}
@mixin box-shadow-inside ($x: 0, $y: 0, $blur: 10px, $color: #000) {
  -webkit-box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  -ms-box-shadow: inset $x $y $blur $color; 
  -o-box-shadow: inset $x $y $blur $color;
  box-shadow: inset $x $y $blur $color;
}
@mixin no-box-shadow () {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important; 
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
@mixin text-shadow ($x: 0, $y: 0, $blur: 2px, $color: #000) {
  -webkit-text-shadow: $x $y $blur $color;
  -moz-text-shadow: $x $y $blur $color;
  -ms-text-shadow: $x $y $blur $color; 
  -o-text-shadow: $x $y $blur $color;
  text-shadow: $x $y $blur $color;
}
@mixin border-radius($x: 10px, $y: 10px){
	-webkit-border-radius: $x $y;
	-moz-border-radius: $x $y;
	-ms-border-radius: $x $y;
	-o-border-radius: $x $y;
	border-radius: $x $y;
}
@mixin filler{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
}
@mixin gradient-vertical($from, $to){
	background: $from; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
	background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-8 */
}
@mixin gradient-horizontal($from, $to){
	background: $from; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left, $from 0%, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, $from 0%,$to 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, $from 0%,$to 100%); /* IE10+ */
	background: linear-gradient(to right, $from 0%,$to 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); /* IE6-8 */
} 


// =======================================================

body{
	font-family: 'ptsans', sans-serif;
	font-size: 14px;
	min-width: 960px;
}

header{
	background: white;
	position: relative;
	z-index: 10;

	height: 60px;
	line-height: 60px;

	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a87506;

	@include box-shadow(0, 2px, 2px, rgba(0,0,0, 0.3));

	.menu{
		@include filler;
		width: 40px;
		
		.button-show-menu{
			@include filler;
			background: #f2f2f2 url(../img/buttonMenu.png) center center no-repeat;
		}

		.nav{
			display: none;
			background: white;
			position: absolute;
			top: 100%;left: 0;
			margin-top: 10px;
			margin-left: 10px;
			padding: 7px;
			min-width: 200px;

			@include border-radius(7px);
			@include box-shadow(0, 2px, 2px, rgba(0,0,0, 0.3));

			li{
				list-style: none;
				line-height: 22px;

				a{
					color: black;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			&.showed{
				display: block;
			}
		}
	}

	h1{
		text-align: center;
		img{
			vertical-align: middle;
		}
	}
}


.page{
	position: relative;

	&#homepage{
		background-image: url(../img/backgroundPage.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 964px;
		padding-top: 125px;

		@media screen and (min-width: 1730px){
			background-size: cover;			
		}

		.link-curve-about{
			background: transparent url(../img/textCurv.png) no-repeat;
			width: 742px;
			height: 76px;
			display: block;

			margin: 0px auto;
			position: relative;
			// position: absolute;
			// left: 50%; top: 125px;
			// margin-left: -371px;

			img{
				position: absolute;
				top: 12px;
				right: -43px;
			}
		}

		.blocks{
			$W: 300px;
			$H: 420px;
			$deltaW: 10px;
			$margins: 6px;

			$width: $W+$deltaW*2+$margins*2;

			// position: absolute;
			// top: 252px;
			// left: 50%;
			// margin-left: -($width*3/2);

			margin: 50px auto 0;
			width: $width*3;
			height: $H+$deltaW*2;

			.block{
				float: left;
				position: relative;

				margin: 0 $margins;

				width: $W+$deltaW*2;
				height: $H+$deltaW*2;
				text-align: center;
				text-decoration: none;

				.block-bg{	
					@include transitions;
					position: absolute;
					left: 0;top:0;
					width: $W;
					margin: $deltaW 0 0 $deltaW;	
				}

				&:hover{
					.block-bg{	
						margin: 0px 0 0 0px;
						width: $W+$deltaW*2;
					}					
				}

				.block-image{
					position: relative;
					z-index: 1;
					margin-top: 10px;
				}

				h2{
					color: #555;
					font-weight: normal;
					position: relative;
					margin-top: 72px;
					margin-bottom: 0;
					text-decoration: none;
				}

				p{
					position: relative;
					z-index: 1;
					margin: 0;
					font-style: italic;
					text-align: left;
					color: #525252;
					padding: 0 45px 0 65px;
					line-height: 21px;
					text-decoration: none;
				}
			}
		}

		.link-video-about-container{
			position: relative;
			height: 42px;
			margin-top: 58px;
		}
		.link-video-about{
			background: transparent url(../img/arrowVideo.png) no-repeat right top;
			line-height: 42px;
			height: 42px;
			padding-right: 55px;
			text-align: right;
			position: absolute;
			right: 50%;
			margin-right: -21px;
			color: white;
			font-style: italic;
			text-decoration: none;
			font-size: 14px;
			font-family: Verdana, sans-serif;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	&#page1{
		background-image: url(../img/p1-bg.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 850px;

		background-size: cover;

		.content{padding-top: 36px;}

		.table{
			position: absolute;
			left: 0; bottom: 0;
			width: 100%;
			height: 136px;
			background: transparent url(../img/p1-table.png) repeat-x;
		}
		.mac{
			position: absolute;
			left: 50%;
			width: 811px;
			height: 639px;
			background: transparent url(../img/p1-mac.png) repeat-x;
			margin-left: -500px;
			bottom: 25px;
		}

		h2, h3{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #021f83;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 20px;
			color: #fff;
			margin-top: 25px;
			line-height: 28px;
		}

		.text-block{
			position: absolute;
			left: 50%;
			margin-left: 222px;
			top: 245px;
			color: white;
			width: 275px;;
			font-size: 18px;
			text-align: center;

			p{
				text-align: left;
				margin: 5px 0 0;
				line-height: 27px;
			}
		}
	}

	&#page2{
		background-image: url(../img/p2-bg.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-color: #d3d3d3;
		background-position: center center;
		height: 1040px;
		padding-bottom: 55px;

		background-size: cover;

		.content{padding-top: 86px;}

		.ipad{
			position: absolute;
			left: 50%;
			width: 888px;
			height: 693px;
			background: transparent url(../img/p2-ipad.png) repeat-x;
			margin-left: -442px;
			top: 240px;
		}
		.iphone{
			position: absolute;
			left: 50%;
			width: 415px;
			height: 549px;
			background: transparent url(../img/p2-iphone.png) repeat-x;
			margin-left: -470px;
			top: 413px;
		}

		h2, h3{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #005ab9;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 20px;
			color: #494949;
			margin-top: 20px;
			line-height: 28px;
		}

		.button-arrow{
			background: transparent url(../img/arrowScreen2.png) no-repeat;
			position: absolute;
			height: 47px;
			width: 144px;
			top: 0;
			left: 50%;
			margin-left: -72px;
		}

		.cloud{
			background: transparent url(../img/step2-cloud.png) no-repeat;
			position: absolute;
			left: 50%;
			top: 203px;
			margin-left: -70px;
			height: 299px;
			width: 339px;

			a{
				background: transparent url(../img/button-step2-cloud.png) no-repeat;
				position: absolute;
				left: 50%;
				top: 173px;
				height: 30px;
				width: 30px;
				margin-left: -15px;			
			}
		}

		.buttons-block{
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 55px;
			height: 122px;

			a{
				margin: 18px 10px 0 10px;
				display: inline-block;
			}
		}
	}

	&#page3{
		background-image: url(../img/p3-bg.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-color: #d3d3d3;
		background-position: center center;
		height: 890px;

		background-size: cover;

		@media screen and (min-width: 1840px){
			height: 924px;
		}

		.content{padding-top: 50px;}

		.ipad{
			position: absolute;
			left: 50%;
			width: 631px;
			height: 525px;
			background: transparent url(../img/p3-ipad.png) repeat-x;
			margin-left: -198px;
			top: 206px;			
		}
		.tv{
			position: absolute;
			left: 50%;
			width: 499px;
			height: 297px;
			background: transparent url(../img/p3-tv.png) repeat-x;
			margin-left: -470px;
			top: 197px;
		}

		h2, h3{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #fff;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 20px;
			color: #fff;
			margin-top: 15px;
			line-height: 28px;
		}

		.buttons-block{
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 69px;
			height: 122px;

			a{
				margin: 18px 10px 0 10px;
				display: inline-block;
			}
		}
	}

	&#page4{
		background-image: url(../img/page2Screen4.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-color: #fff;
		background-position: center bottom;
		height: 1004px;

		.content{padding-top: 58px;}

		h2, h3{
			font-weight: normal;
			text-align: center;
			position: relative;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #904647;
			top: -17px;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 20px;
			color: #555555;
			top: -6px;
			line-height: 28px;
		}

		.buttons-block{
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 128px;
			height: 122px;

			a{
				margin: 18px 10px 0 10px;
				display: inline-block;
			}
		}

		.text-block{
			position: absolute;
			text-align: center;
			
			.span2{
				font-size: 20px;
				color: #555555;
				line-height: 26px;
				display: block;
				margin: 9px 0 0 0;
			}
			.span1{
				font-family: 'plumblight', sans-serif;
				font-size: 30px;
				color: #904647;
				margin: 9px 0 0 0;
				display: block;
			}

			&.tb-1{
				bottom: 573px;
				left: 50%;
				margin-left: -444px;
				width: 344px;
				height: 193px;
			}
			&.tb-2{
				bottom: 618px;
				left: 50%;
				margin-left: 106px;
				width: 344px;
				height: 193px;
				.span1{
					margin: 5px 0 0 0;
				}
			}
			&.tb-3{
				bottom: 265px;
				left: 50%;
				margin-left: -446px;
				width: 344px;
				height: 193px;
				.span1{
					margin: 26px 0 0 0;
				}
			}
			&.tb-4{
				bottom: 349px;
				left: 50%;
				margin-left: 202px;
				width: 258px;
				height: 193px;
				h3{
					top: auto;
					line-height: 47px;
				}
				a {
					display: inline-block;
					margin: 8px 0px 0px 0px;
				}
			}
		}
	}

	&#page5{
		background-image: url(../img/page2Screen5.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 972px;

		@media screen and (min-width: 1730px){
			background-size: cover;
		}

		.content{padding-top: 47px;}

		h2{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #914643;
		}

		.text-block{
			position: absolute;
			left: 50%;
			margin-left: 85px;
			top: 302px;
			width: 330px;
			text-align: center;

			p{
				font-size: 22px;
				line-height: 27px;
				text-align: left;
				color: #555555;
				margin-bottom: 10px;
			}	
			z-index: 9999;		
		}

		.buttons-block{
			text-align: center;
			margin-top: 30px;
			h3{
				margin-top: 0;
				color: #000000;
				font-size: 20px;
				font-family: ptsans;
				font-weight: normal;
				margin-bottom: 10px;
			}
			a{
				margin: 10px 10px 0 10px;
				display: inline-block;
			}
		}

		.image-iphone{
			background: transparent url(../img/iphone.png) no-repeat;
			position: absolute;
			left: 50%;
			margin-left: -410px;
			bottom: -50px;
			z-index: 9998;
			height: 869px;
			width: 421px;
		}
	}

	&#page6{
		//background-size: cover;
		background-color: #99d83e;
		background-repeat: no-repeat;
		background-position: center center;
		height: 884px;
		text-align: center;

		.content{padding-top: 103px;}

		h2, h3{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #fff;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 20px;
			color: #565656;
			line-height: 28px;
			margin-top: 20px;
		}

		.buttons-block{
			text-align: center;
			position: absolute;
			left: 50%;
			margin-left: -50px;
			bottom: 45px;

			h3{
				margin-top: 0;
				color: #000000;
			}
			a{
				margin: 10px 10px 0 10px;
				display: inline-block;
			}
		}

		.image-fixiki{
			margin-top: -23px;
		}
	}

	&#page7{
		background-image: url(../img/p7-bg.jpg);
		//background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 980px;
		text-align: center;

		background-size: cover;

		.content{padding-top: 109px;}

		.table{
			position: absolute;
			left: 0; bottom: 0;
			width: 100%;
			height: 173px;
			background: transparent url(../img/p7-table.png) repeat-x;
		}
		.ipad{
			position: absolute;
			left: 50%;
			width: 1120px;
			height: 715px;
			background: transparent url(../img/p7-ipad.png) repeat-x;
			margin-left: -580px;
			bottom: -5px;
		}

		h2, h3{
			font-weight: normal;
			text-align: center;
		}
		h2{
			font-family: 'plumblight', sans-serif;
			font-size: 44px;
			color: #fff;
		}
		h3{
			font-family: 'ptsans', sans-serif;
			font-size: 32px;
			color: #fff;
			line-height: 28px;
			margin-top: 43px;
			font-weight: normal;
		}

		.buttons-block{
			text-align: center;
			position: absolute;
			bottom: 20px;
			width: 100%;

			h3{
				margin-top: 0;
				font-size: 22px;
				color: #fff;
			}
			a{
				margin: 10px 10px 0 10px;
				display: inline-block;
			}
		}
	}
}

footer{
	position: relative;
	margin-top: 130px;

	.left-half{
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		text-align: right;
		padding-right: 55px;

		@include box-sizing;

		a{
			margin-left: 23px;
		}
	}
	.right-half{
		position: absolute;
		left: 50%;
		top: 0;
		width: 50%;
		padding-left: 93px;
		@include box-sizing;

		color: white;
		line-height: 52px;
		font-size: 12px;
		font-weight: bold;
		font-family: Verdana, sans-serif;

		a{margin-left: 8px;}
		img{
			vertical-align: middle;
		}

		.copyright{
			margin-left: 12px;
		}
	}
}

.navbar{
	position: fixed;
	right: 10px;
	top: 50%;
	margin-top: -40px;

	li{
		list-style: none;
		margin: 10px;
		padding: 0;
	}
	a{
		display: block;
		width: 4px;
		height: 4px;
		@include border-radius;
		background: black;
		border: 1px solid black;

		&:hover, &.selected{
			background: transparent;
			border: 1px solid black;
		}
	}
}