@import url(normalize.css);
@import url(fonts.css);
body {
  font-family: 'ptsans', sans-serif;
  font-size: 14px;
  min-width: 960px; }

header {
  background: white;
  position: relative;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a87506;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  header .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    width: 40px; }
    header .menu .button-show-menu {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #f2f2f2 url(../img/buttonMenu.png) center center no-repeat; }
    header .menu .nav {
      display: none;
      background: white;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 10px;
      margin-left: 10px;
      padding: 7px;
      min-width: 200px;
      -webkit-border-radius: 7px 10px;
      -moz-border-radius: 7px 10px;
      -ms-border-radius: 7px 10px;
      -o-border-radius: 7px 10px;
      border-radius: 7px 10px;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
      header .menu .nav li {
        list-style: none;
        line-height: 22px; }
        header .menu .nav li a {
          color: black;
          text-decoration: none; }
          header .menu .nav li a:hover {
            text-decoration: underline; }
      header .menu .nav.showed {
        display: block; }
  header h1 {
    text-align: center; }
    header h1 img {
      vertical-align: middle; }

.page {
  position: relative; }
  .page#homepage {
    background-image: url(../img/backgroundPage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 964px;
    padding-top: 125px; }
    @media screen and (min-width: 1730px) {
      .page#homepage {
        background-size: cover; } }
    .page#homepage .link-curve-about {
      background: transparent url(../img/textCurv.png) no-repeat;
      width: 742px;
      height: 76px;
      display: block;
      margin: 0px auto;
      position: relative; }
      .page#homepage .link-curve-about img {
        position: absolute;
        top: 12px;
        right: -43px; }
    .page#homepage .blocks {
      margin: 50px auto 0;
      width: 996px;
      height: 440px; }
      .page#homepage .blocks .block {
        float: left;
        position: relative;
        margin: 0 6px;
        width: 320px;
        height: 440px;
        text-align: center;
        text-decoration: none; }
        .page#homepage .blocks .block .block-bg {
          -webkit-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
          -moz-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
          -ms-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
          -o-transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
          transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
          position: absolute;
          left: 0;
          top: 0;
          width: 300px;
          margin: 10px 0 0 10px; }
        .page#homepage .blocks .block:hover .block-bg {
          margin: 0px 0 0 0px;
          width: 320px; }
        .page#homepage .blocks .block .block-image {
          position: relative;
          z-index: 1;
          margin-top: 10px; }
        .page#homepage .blocks .block h2 {
          color: #555;
          font-weight: normal;
          position: relative;
          margin-top: 72px;
          margin-bottom: 0;
          text-decoration: none; }
        .page#homepage .blocks .block p {
          position: relative;
          z-index: 1;
          margin: 0;
          font-style: italic;
          text-align: left;
          color: #525252;
          padding: 0 45px 0 65px;
          line-height: 21px;
          text-decoration: none; }
    .page#homepage .link-video-about-container {
      position: relative;
      height: 42px;
      margin-top: 58px; }
    .page#homepage .link-video-about {
      background: transparent url(../img/arrowVideo.png) no-repeat right top;
      line-height: 42px;
      height: 42px;
      padding-right: 55px;
      text-align: right;
      position: absolute;
      right: 50%;
      margin-right: -21px;
      color: white;
      font-style: italic;
      text-decoration: none;
      font-size: 14px;
      font-family: Verdana, sans-serif; }
      .page#homepage .link-video-about:hover {
        text-decoration: underline; }
  .page#page1 {
    background-image: url(../img/p1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 850px;
    background-size: cover; }
    .page#page1 .content {
      padding-top: 36px; }
    .page#page1 .table {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 136px;
      background: transparent url(../img/p1-table.png) repeat-x; }
    .page#page1 .mac {
      position: absolute;
      left: 50%;
      width: 811px;
      height: 639px;
      background: transparent url(../img/p1-mac.png) repeat-x;
      margin-left: -500px;
      bottom: 25px; }
    .page#page1 h2, .page#page1 h3 {
      font-weight: normal;
      text-align: center; }
    .page#page1 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #021f83; }
    .page#page1 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 20px;
      color: #fff;
      margin-top: 25px;
      line-height: 28px; }
    .page#page1 .text-block {
      position: absolute;
      left: 50%;
      margin-left: 222px;
      top: 245px;
      color: white;
      width: 275px;
      font-size: 18px;
      text-align: center; }
      .page#page1 .text-block p {
        text-align: left;
        margin: 5px 0 0;
        line-height: 27px; }
  .page#page2 {
    background-image: url(../img/p2-bg.jpg);
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    background-position: center center;
    height: 1040px;
    padding-bottom: 55px;
    background-size: cover; }
    .page#page2 .content {
      padding-top: 86px; }
    .page#page2 .ipad {
      position: absolute;
      left: 50%;
      width: 888px;
      height: 693px;
      background: transparent url(../img/p2-ipad.png) repeat-x;
      margin-left: -442px;
      top: 240px; }
    .page#page2 .iphone {
      position: absolute;
      left: 50%;
      width: 415px;
      height: 549px;
      background: transparent url(../img/p2-iphone.png) repeat-x;
      margin-left: -470px;
      top: 413px; }
    .page#page2 h2, .page#page2 h3 {
      font-weight: normal;
      text-align: center; }
    .page#page2 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #005ab9; }
    .page#page2 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 20px;
      color: #494949;
      margin-top: 20px;
      line-height: 28px; }
    .page#page2 .button-arrow {
      background: transparent url(../img/arrowScreen2.png) no-repeat;
      position: absolute;
      height: 47px;
      width: 144px;
      top: 0;
      left: 50%;
      margin-left: -72px; }
    .page#page2 .cloud {
      background: transparent url(../img/step2-cloud.png) no-repeat;
      position: absolute;
      left: 50%;
      top: 203px;
      margin-left: -70px;
      height: 299px;
      width: 339px; }
      .page#page2 .cloud a {
        background: transparent url(../img/button-step2-cloud.png) no-repeat;
        position: absolute;
        left: 50%;
        top: 173px;
        height: 30px;
        width: 30px;
        margin-left: -15px; }
    .page#page2 .buttons-block {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 55px;
      height: 122px; }
      .page#page2 .buttons-block a {
        margin: 18px 10px 0 10px;
        display: inline-block; }
  .page#page3 {
    background-image: url(../img/p3-bg.jpg);
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    background-position: center center;
    height: 890px;
    background-size: cover; }
    @media screen and (min-width: 1840px) {
      .page#page3 {
        height: 924px; } }
    .page#page3 .content {
      padding-top: 50px; }
    .page#page3 .ipad {
      position: absolute;
      left: 50%;
      width: 631px;
      height: 525px;
      background: transparent url(../img/p3-ipad.png) repeat-x;
      margin-left: -198px;
      top: 206px; }
    .page#page3 .tv {
      position: absolute;
      left: 50%;
      width: 499px;
      height: 297px;
      background: transparent url(../img/p3-tv.png) repeat-x;
      margin-left: -470px;
      top: 197px; }
    .page#page3 h2, .page#page3 h3 {
      font-weight: normal;
      text-align: center; }
    .page#page3 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #fff; }
    .page#page3 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 20px;
      color: #fff;
      margin-top: 15px;
      line-height: 28px; }
    .page#page3 .buttons-block {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 69px;
      height: 122px; }
      .page#page3 .buttons-block a {
        margin: 18px 10px 0 10px;
        display: inline-block; }
  .page#page4 {
    background-image: url(../img/page2Screen4.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center bottom;
    height: 1004px; }
    .page#page4 .content {
      padding-top: 58px; }
    .page#page4 h2, .page#page4 h3 {
      font-weight: normal;
      text-align: center;
      position: relative; }
    .page#page4 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #904647;
      top: -17px; }
    .page#page4 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 20px;
      color: #555555;
      top: -6px;
      line-height: 28px; }
    .page#page4 .buttons-block {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 128px;
      height: 122px; }
      .page#page4 .buttons-block a {
        margin: 18px 10px 0 10px;
        display: inline-block; }
    .page#page4 .text-block {
      position: absolute;
      text-align: center; }
      .page#page4 .text-block .span2 {
        font-size: 20px;
        color: #555555;
        line-height: 26px;
        display: block;
        margin: 9px 0 0 0; }
      .page#page4 .text-block .span1 {
        font-family: 'plumblight', sans-serif;
        font-size: 30px;
        color: #904647;
        margin: 9px 0 0 0;
        display: block; }
      .page#page4 .text-block.tb-1 {
        bottom: 573px;
        left: 50%;
        margin-left: -444px;
        width: 344px;
        height: 193px; }
      .page#page4 .text-block.tb-2 {
        bottom: 618px;
        left: 50%;
        margin-left: 106px;
        width: 344px;
        height: 193px; }
        .page#page4 .text-block.tb-2 .span1 {
          margin: 5px 0 0 0; }
      .page#page4 .text-block.tb-3 {
        bottom: 265px;
        left: 50%;
        margin-left: -446px;
        width: 344px;
        height: 193px; }
        .page#page4 .text-block.tb-3 .span1 {
          margin: 26px 0 0 0; }
      .page#page4 .text-block.tb-4 {
        bottom: 349px;
        left: 50%;
        margin-left: 202px;
        width: 258px;
        height: 193px; }
        .page#page4 .text-block.tb-4 h3 {
          top: auto;
          line-height: 47px; }
        .page#page4 .text-block.tb-4 a {
          display: inline-block;
          margin: 8px 0px 0px 0px; }
  .page#page5 {
    background-image: url(../img/page2Screen5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 972px; }
    @media screen and (min-width: 1730px) {
      .page#page5 {
        background-size: cover; } }
    .page#page5 .content {
      padding-top: 47px; }
    .page#page5 h2 {
      font-weight: normal;
      text-align: center; }
    .page#page5 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #914643; }
    .page#page5 .text-block {
      position: absolute;
      left: 50%;
      margin-left: 85px;
      top: 302px;
      width: 330px;
      text-align: center;
      z-index: 9999; }
      .page#page5 .text-block p {
        font-size: 22px;
        line-height: 27px;
        text-align: left;
        color: #555555;
        margin-bottom: 10px; }
    .page#page5 .buttons-block {
      text-align: center;
      margin-top: 30px; }
      .page#page5 .buttons-block h3 {
        margin-top: 0;
        color: #000000;
        font-size: 20px;
        font-family: ptsans;
        font-weight: normal;
        margin-bottom: 10px; }
      .page#page5 .buttons-block a {
        margin: 10px 10px 0 10px;
        display: inline-block; }
    .page#page5 .image-iphone {
      background: transparent url(../img/iphone.png) no-repeat;
      position: absolute;
      left: 50%;
      margin-left: -410px;
      bottom: -50px;
      z-index: 9998;
      height: 869px;
      width: 421px; }
  .page#page6 {
    background-color: #99d83e;
    background-repeat: no-repeat;
    background-position: center center;
    height: 884px;
    text-align: center; }
    .page#page6 .content {
      padding-top: 103px; }
    .page#page6 h2, .page#page6 h3 {
      font-weight: normal;
      text-align: center; }
    .page#page6 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #fff; }
    .page#page6 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 20px;
      color: #565656;
      line-height: 28px;
      margin-top: 20px; }
    .page#page6 .buttons-block {
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: 45px; }
      .page#page6 .buttons-block h3 {
        margin-top: 0;
        color: #000000; }
      .page#page6 .buttons-block a {
        margin: 10px 10px 0 10px;
        display: inline-block; }
    .page#page6 .image-fixiki {
      margin-top: -23px; }
  .page#page7 {
    background-image: url(../img/p7-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 980px;
    text-align: center;
    background-size: cover; }
    .page#page7 .content {
      padding-top: 109px; }
    .page#page7 .table {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 173px;
      background: transparent url(../img/p7-table.png) repeat-x; }
    .page#page7 .ipad {
      position: absolute;
      left: 50%;
      width: 1120px;
      height: 715px;
      background: transparent url(../img/p7-ipad.png) repeat-x;
      margin-left: -580px;
      bottom: -5px; }
    .page#page7 h2, .page#page7 h3 {
      font-weight: normal;
      text-align: center; }
    .page#page7 h2 {
      font-family: 'plumblight', sans-serif;
      font-size: 44px;
      color: #fff; }
    .page#page7 h3 {
      font-family: 'ptsans', sans-serif;
      font-size: 32px;
      color: #fff;
      line-height: 28px;
      margin-top: 43px;
      font-weight: normal; }
    .page#page7 .buttons-block {
      text-align: center;
      position: absolute;
      bottom: 20px;
      width: 100%; }
      .page#page7 .buttons-block h3 {
        margin-top: 0;
        font-size: 22px;
        color: #fff; }
      .page#page7 .buttons-block a {
        margin: 10px 10px 0 10px;
        display: inline-block; }

footer {
  position: relative;
  margin-top: 130px; }
  footer .left-half {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    text-align: right;
    padding-right: 55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    footer .left-half a {
      margin-left: 23px; }
  footer .right-half {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    padding-left: 93px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    line-height: 52px;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, sans-serif; }
    footer .right-half a {
      margin-left: 8px; }
    footer .right-half img {
      vertical-align: middle; }
    footer .right-half .copyright {
      margin-left: 12px; }

.navbar {
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -40px; }
  .navbar li {
    list-style: none;
    margin: 10px;
    padding: 0; }
  .navbar a {
    display: block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -ms-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    border-radius: 10px 10px;
    background: black;
    border: 1px solid black; }
    .navbar a:hover, .navbar a.selected {
      background: transparent;
      border: 1px solid black; }
